.modern {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.modern .leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.modern .circle-marker {
  stroke-opacity: 0;
  fill-opacity: 1;
}

.modern .circle-marker.selected {
  stroke-width: 8;
  fill-opacity: 0;
  stroke-opacity: 1;
}

.modern .circle-marker.town {
  fill: #bf5b17;
  stroke: #bf5b17;
}
.modern .circle-marker.area {
  fill: #ffff99;
  stroke: #ffff99;
}
.modern .circle-marker.building {
  fill: #fdc086;
  stroke: #fdc086;
}
.modern .circle-marker.mountain {
  fill: #666666;
  stroke: #666666;
}
.modern .circle-marker.peninsula {
  fill: #beaed4;
  stroke: #beaed4;
}
.modern .circle-marker.island {
  fill: #7fc97f;
  stroke: #7fc97f;
}
.modern .circle-marker.water.body {
  fill: #386cb0;
  stroke: #386cb0;
}
.modern .circle-marker.descriptor {
  fill: #f0027f;
  stroke: #f0027f;
}

.modern .circle-marker.path-landmark {
  fill-opacity: 0;
  stroke-opacity: 1;
}

.modern .leaflet-tooltip {
  margin-top: 6px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  /* color: darkred; */
}

.modern .leaflet-tooltip:before {
  content: none;
}

.modern .path {
  stroke: lightblue;
}

.modern path.selected {
  stroke-width: 10;
}

.modern path.path.selected {
  stroke-dasharray: 100 15 !important;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

.modern path.path.leaflet-interactive.out {
  stroke: lightGreen;
  stroke-dasharray: 100 5;
  animation: dash 30s infinite;
}

.modern path.path.leaflet-interactive.in {
  stroke: pink;
  stroke-dasharray: 100 5;
  animation: dash 30s infinite;
}
