.modern {
  width: 100%;
  height: 100%;
  background-color: red;
}

.modern .leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.modern .leaflet-tooltip {
  margin-top: 6px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: darkred;
}

.modern .leaflet-tooltip:before {
  content: none;
}
