@import url('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css');

.maokun {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.maokun .leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.maokun path.label.leaflet-interactive {
  -webkit-transition: opacity 1s; /* Safari prior 6.1 */
  transition: opacity 1s;
  fill: rgba(0, 0, 0, 0);
}

.maokun path.label.leaflet-interactive:hover {
  opacity: 0;
}

.maokun path.path.leaflet-interactive {
  -webkit-transition: opacity 1s; /* Safari prior 6.1 */
  transition: opacity 1s;
  opacity: 0.5;
  stroke-width: 6;
}

.maokun path.path.leaflet-interactive:hover {
  opacity: 0.15;
}

.maokun .circle-marker {
  fill: transparent;
  stroke: darkRed;
  transition: stroke-opacity 1s;
}

.maokun .circle-marker:hover {
  stroke: transparent;
}

.maokun .circle-marker.unidentified {
  stroke-dasharray: 10 5;
}

.maokun .circle-marker.selected,
.maokun path.path.leaflet-interactive.selected {
  stroke-width: 12;
}

.maokun .circle-marker.path-landmark {
  stroke-width: 6;
}

.maokun path.path.leaflet-interactive {
  stroke: lightBlue;
}

.maokun path.path.leaflet-interactive.out {
  stroke: lightGreen;
}

.maokun path.path.leaflet-interactive.in {
  stroke: pink;
}

.maokun .leaflet-tooltip {
  margin-top: 6px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.maokun .leaflet-tooltip:before {
  content: none;
}

.maokun .circle-marker.selected {
  stroke-width: 8;
}

.maokun .circle-marker:hover {
  stroke-opacity: 0;
}

.maokun .circle-marker.town {
  stroke: #bf5b17;
}
.maokun .circle-marker.area {
  stroke: #ffff99;
}
.maokun .circle-marker.building {
  stroke: #fdc086;
}
.maokun .circle-marker.mountain {
  stroke: #666666;
}
.maokun .circle-marker.peninsula {
  stroke: #beaed4;
}
.maokun .circle-marker.island {
  stroke: #7fc97f;
}
.maokun .circle-marker.water.body {
  stroke: #386cb0;
}
.maokun .circle-marker.descriptor {
  stroke: #f0027f;
}

.maokun img.leaflet-marker-icon {
  padding: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.25) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-transition: opacity 1s; /* Safari prior 6.1 */
  transition: opacity 1s;
}

.maokun img.leaflet-marker-icon:hover {
  opacity: 0;
}
